@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html,
body {
  background-color: #212121;
}

body {
  display: flex;
  flex-direction: column;
}

header h1 {
  text-align: center;
  color: #14FFEC;
  padding: 20px 0;
}

nav {
  background-color: #323232;
  text-align: center;
  margin-top: 10px;
  border-top: 2px solid #14FFEC;
  border-bottom: 2px solid #14FFEC;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a:link {
  font-size: 14pt;
  text-decoration: none;
  color: #14FFEC;
  padding: 10px 20px;
  margin: 0 5px;
  display: inline-block;
}

nav a:visited {
  font-size: 14pt;
  text-decoration: none;
  color: #14FFEC;
  padding: 10px 20px;
  margin: 0 5px;
  display: inline-block;
}

nav a:hover {
  font-size: 14pt;
  text-decoration: none;
  background-color: #14FFEC;
  color: #323232;
  border-radius: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h2 {
  color: #14FFEC;
  font-size: 24px;
}

main p {
  font-size: 14pt;
  text-align: center;
  color: #14FFEC;
  margin-top: 20px;
}

.aboutme {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.selfPhoto {
  height: 25%;
  width: 25%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
}

.skill-category {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  background-color: #323232;
  border: 2px solid #14FFEC;
  padding: 10px;
  border-radius: 10px;
}

.skill-category h3 {
  color: #14FFEC;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  color: #14FFEC;
  margin-top: 5px;
}

ul li {
  margin: 5px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  text-align: center;
}

.projects h2 {
  margin-bottom: 30px;
}

.projects h3 {
  color: #14FFEC;
}

.project {
  margin-bottom: 30px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-photos {
  margin: 20px;
  border: 2px solid #14FFEC;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.hover-shadow {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0 8px 16px #14FFEC;
}

.project p {
  margin-top: 0;
}

.contact {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact h2 {
  margin-bottom: 30px;
  font-size: 22pt;
}


.contact-left {
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.icon {
  float: left;
  margin-right: 10px;
}


.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  padding: 20px;
  margin: 10px;
}


.contact-left,
.form-box {
  width: 100%;
  padding-bottom: 0;
}




.contact form {
  display: flex;
  flex-direction: column;
}



.form-box input,
.form-box textarea {
  padding: 10px;
  border: 1px solid #14FFEC;
  border-radius: 5px;
  background-color: #323232;
  color: white;
}

.form-box textarea {
  resize: vertical;
}

.btn, form .btn {
  background-color: #14FFEC;
  color: #323232;
  font-size: 14pt;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16pt;
  width: 350px;
}

.btn:hover {
  background-color: #19a7ce;
}



.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social-links li {
  margin: 0 5px;
  margin-bottom: 10px;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .aboutme,
  .skills,
  .projects,
  .contact {
    max-width: 70%; /* Adjust the width to fit tablet screens */
  }
}

/* Full Monitor Styles (1024px and above) */
@media screen and (min-width: 1024px) {
  .aboutme,
  .skills,
  .projects,
  .contact {
    max-width: 50%; /* Adjust the width to fit full monitor screens */
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Styles for the Contact section */
@media screen and (max-width: 767px) {
  .contact .row {
    flex-direction: column;
    align-items: center;
  }
}


